on:
    push:
      branches:
        - main
name: Build My App
jobs:
    build:
      name: Build and Release New APK File
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v2
          with:
            distribution: 'zulu'
            java-version: '11'
        - uses: subosito/flutter-action@v2
          with:
            channel: 'stable'
        - run: flutter pub get
        - run: flutter build apk --release --split-per-abi
        - name: Push to Release
          uses: ncipollo/release-action@v1
          with:
            artifacts: "build/app/outputs/apk/release/*"
            tag: MightyMines-v1.0.0
            token: ${{ secrets.TOKEN }}